:root {
    --color-background: #1a1a2e;
    --color-letrasBrancas: #e0e0e0;
    --color-caixaPesqu: #162447;
    --color-highlight: #0f3460;
    --color-button: #e94560;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-letrasBrancas);
    font-family: "Manrope", sans-serif;
    font-weight: 300;
}

.container {
    margin-top: 20px;
}

.topo h1 {
    color: var(--color-letrasBrancas);
    font-weight: 600;
}

.video-container {
    border: 2px solid var(--color-highlight);
    overflow: hidden;
    width: 100%;
    margin-left: 10px;
}

.sidebar {
    color: var(--color-background);
    padding: 15px;
    border-radius: 5px;
}

/* Estilo para cada item do grupo de lista */
.list-group-item {
    background-color: var(--color-background) !important;
    color: var(--color-letrasBrancas);
    border: none;
}

.list-group-item:focus, .list-group-item:active {
    background-color: var(--color-caixaPesqu) !important;
    color: var(--color-letrasBrancas) !important;
}

.list-group-item:hover {
    background-color: var(--color-caixaPesqu);
    color: var(--color-letrasBrancas);
}

.card {
    background-color: var(--color-background);
    color: var(--color-letrasBrancas);
    font-size: 18px; /* Ajuste o tamanho conforme desejar */
}

.card h5 {
    font-size: 20px; /* Aumenta o tamanho dos títulos dentro da card */
}

.card p {
    font-size: 18px; /* Aumenta o tamanho do texto do corpo */
}
/* Títulos da barra lateral */
.sidebar h5 {
    margin-bottom: 10px;
}

/* Responsividade */
@media (min-width: 992px) {
    .video-section {
        display: flex;
        justify-content: space-between;
    }

    .video-container {
        width: 65%;
    }

    .sidebar {
        width: 30%;
        margin-left: 20px;
    }
}
/* Para garantir que a imagem no modal seja responsiva */
.modal-body img {
    width: 100%;  /* Assegura que a imagem ocupe toda a largura disponível no modal */
    height: auto; /* Mantém a proporção da imagem */
}

/* Aumentar o tamanho da imagem no modal para desktops grandes */
@media (min-width: 768px) {
    .modal-dialog {
        max-width: 90%; /* Permite que o modal tenha uma largura maior em telas grandes */
    }

    .modal-body img {
        max-width: 100%;  /* A imagem pode ocupar até 100% da largura do modal */
    }
}

/* Para telas maiores que 1200px (telas extra grandes) */
@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 70%;  /* O modal ocupará menos largura na tela */
    }

    .modal-body img {
        max-width: 100%;  /* A imagem ocupa 100% do modal */
    }
}
